.first-page{
  height: 200px;
  position:relative;
  display: inline-block;
  width: 100%;
}

body{
  margin: 0;
  text-align: center;
}

h1{
  margin: 0;
  padding-top: 100px;
  z-index: 2;
  position: relative;
}

h2{
  position: relative;
  z-index: 2;
}

.container{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(90,172,210,1) 0%, rgba(255,255,255,1) 100%);
  width: 100%;
  display: flex;
}

.circlepaint{
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 70%;
  height: 200px;
}

.linepaint{
  position: relative;
  height: 80px;
  top: -90%;
  left: 30%;
}
